{% extends "base.html" %}
{% block title %}{{ section.title | default(value=config.title) }}{% endblock title %}
{% block content %}
<div class="page-content">
    <div class="posts">
        {%- if config.generate_feed %}
        <a href="/atom.xml" class="feed-banner" title="Subscribe to the Atom feed">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 11a9 9 0 0 1 9 9"/><path d="M4 4a16 16 0 0 1 16 16"/><circle cx="5" cy="19" r="1"/></svg>
            <span>Subscribe via Atom feed</span>
        </a>
        {%- endif %}
        {%- if section.content %}
        <div class="post">
            <div class="post-content">{{ section.content | safe }}</div>
        </div>
        {% endif %}
        {%- if paginator %}
            {%- set show_pages = paginator.pages %}
        {% else %}
            {%- set show_pages = section.pages %}
        {% endif %}
        {%- for page in show_pages %}
        <div class="post on-list">
            {{ post_macros::header(page=page) }}
            {{ post_macros::content(page=page, summary=true, show_only_description=page.extra.show_only_description | default(value=false)) }}
        </div>
        {% endfor %}
        {%- if paginator %}
        <div class="pagination">
            <div class="pagination__buttons">
            {%- if paginator.previous %}
                <span class="button previous">
                    <a href="{{ paginator.previous | replace(from=config.base_url, to="") }}">
                        <span class="button__icon">&larr;</span>&nbsp;
                        <span class="button__text">newer posts</span>
                    </a>
                </span>
            {% endif %}
            {%- if paginator.next %}
                <span class="button next">
                    <a href="{{ paginator.next | replace(from=config.base_url, to="") }}">
                        <span class="button__text">older posts</span>&nbsp;
                        <span class="button__icon">&rarr;</span>
                    </a>
                </span>
            {% endif %}
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
