{% extends "base.html" %}
{% block title %}{{ section.title | default(value=config.title) }}{% endblock title %}
{% block content %}
<div class="page-content">
    <div class="posts">
        {%- if section.content %}
        <div class="post">
            <div class="post-content">{{ section.content | safe }}</div>
        </div>
        {% endif %}
        {%- for child_path in section.extra.presentations %}
        {%- set pres = get_section(path=child_path) %}
        <div class="post on-list">
            <div class="post-header">
                <h2><a href="{{ pres.path }}">{{ pres.title }}</a></h2>
            </div>
            {%- if pres.description %}
            <div class="post-content">
                <p>{{ pres.description }}</p>
            </div>
            {%- endif %}
        </div>
        {%- endfor %}
    </div>
</div>
{% endblock content %}
